@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  color: #002367;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: "Krona One";
}

body {
  /* display: flex;
  justify-content: center; */
}

#wrapper {
  background-color: #d9d9d9;
  padding: 0 25%;
}

main {
  background-color: #ffffff;
}

/* NAV ********************************************************/
nav {
  display: flex;
  flex-direction: column;
  background-color: #71acf2;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

.navBot a:hover {
  background-color: #adadad;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}

.nomSite {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.barreRecherche {
  position: relative;
}

#searchBar {
  border: #002367 solid 0.1rem;
  padding: 0.3rem 0 0.3rem 0.5rem;
  width: 20rem;
  border-radius: 10px;
}

#submitBtn {
  position: absolute;
  right: 0.5rem;
  top: 0.45rem;
  border: none;
  background-color: #ffffff;
}

.navBot {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

/* HOME **********************************************************/
.bannerTop {
  background-color: #adadad;
  text-align: center;
  padding: 0.2rem 0;
}

.swiper-container {
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  width: 100%;
}

.carousselTop .swiper-slide {
  height: 65vh;
}

.carousselTop .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousselBot .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.carousselBot .swiper-slide img {
  width: 60%;
  height: 50%;
  object-fit: contain;
}

/* Agrandir l'image du milieu dans le carrousel bot */
.carousselBot .swiper-slide-active img {
  transform: scale(1.5);
  transition: transform 0.7s; /* Animation pour l'effet de zoom */
}

.bannerBot {
  text-align: center;
  background-color: #71acf2;
  padding: 0.2rem 0;
  margin: 1rem 0;
}

/* FOOTER ***************************************************/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #71acf2;
}

.logo {
  display: flex;
  gap: 1rem;
}

.mentions {
  display: flex;
  gap: 1rem;
}

/* LIST FILMS***************************************/
.titrePage {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.table img {
  width: 10rem;
  height: auto;
}

.table {
  border-collapse: separate;
  border-spacing: 0 5rem;
}

.table td {
  text-align: center;
}

/* DETAILS FILM *******************************************/
.filmDetails {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.filmInfo {
  display: flex;
  flex-direction: column;
}

.filmDetails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.filmPhoto {
  height: 15rem;
  width: 11rem;
}

/* FILM FORM *******************/
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
  margin: auto;
}

form label {
  min-width: 10rem;
}

form input, select {
  width: 100%;
  padding: 0.2rem;
}

.formulaire {
  background-color: #d9d9d9;
  width: 20rem;
  margin: auto;
  padding: 1rem 0; 
}

.entreeGenre input{
  display: inline;
}

/* LIST ACTEURS******************************* */
.tableActeurs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tableActeurs img:hover {
  transform: scale(1.1);
  border-radius: 1rem;
}

.tableActeurs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-collapse: separate;
  border-spacing: 1rem 5rem;
  text-align: center;
}

.tableActeurs td {
  height: 15rem;
  width: 11rem;
  overflow: visible;
}

.tableActeurs a {
  text-decoration: none;
}

/* DETAILS ACTEURS ***************************************/
.personneDetails {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.personneInfo {
  display: flex;
  flex-direction: column;
}

.personnePhoto {
  height: 15rem;
  width: 11rem;
}

.personneDetails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.biographie {
  padding: 2rem;
  text-align: center;
}

.filmographie {
  height: 15rem;
  width: 11rem;
}

.filmographie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* LIST REALISATEURS ****************************************/
.realisateurs {
  display: flex;
}

.realisateurImg {
  height: 15rem;
  width: 11rem;
}

.realisateurs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* DETAILS REALISATEUR *****************/
.filmographie {
  height: 15rem;
  width: 11rem;
}

.filmographie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* LIST GENRES ***************************************/
.genres {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.genreImg {
  height: 15rem;
  width: 11rem;
}

.genres img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* DETAILS GENRE ********************************/
.genreDetails {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.genreInfo {
  display: flex;
  flex-direction: column;
}

.genreDetails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.genrePhoto {
  height: 15rem;
  width: 11rem;
}


