@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  color: #002367;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: "Krona One";
}

body {
  /* display: flex;
  justify-content: center; */
}

#wrapper {
  background-color: #d9d9d9;
  padding: 0 25%;
}

main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.home {
  display: block;
}

/* NAV ********************************************************/
nav {
  display: flex;
  flex-direction: column;
  background-color: #71acf2;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

.navBot a:hover {
  background-color: #adadad;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}

.nomSite {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.barreRecherche {
  position: relative;
}

#searchBar {
  border: #002367 solid 0.1rem;
  padding: 0.3rem 0 0.3rem 0.5rem;
  width: 20rem;
  border-radius: 10px;
}

#submitBtn {
  position: absolute;
  right: 0.5rem;
  top: 0.45rem;
  border: none;
  background-color: #ffffff;
}

.navBot {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

/* HOME **********************************************************/
.bannerTop {
  background-color: #adadad;
  text-align: center;
  padding: 0.2rem 0;
}

.swiper-container {
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  width: 100%;
}

.carousselTop .swiper-slide {
  height: 65vh;
}

.carousselTop .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousselBot .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.carousselBot .swiper-slide img {
  width: 60%;
  height: 50%;
  object-fit: contain;
}

/* Agrandir l'image du milieu dans le carrousel bot */
.carousselBot .swiper-slide-active img {
  transform: scale(1.5);
  transition: transform 0.7s; /* Animation pour l'effet de zoom */
}

.bannerBot {
  text-align: center;
  background-color: #71acf2;
  padding: 0.2rem 0;
  margin: 1rem 0;
}

/* FOOTER ***************************************************/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #71acf2;
}

.logo {
  display: flex;
  gap: 1rem;
}

.mentions {
  display: flex;
  gap: 1rem;
}

/* LIST TEMPLATE***************************************/
.titrePage {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.card a {
  text-decoration: none;
  color: #002367;
}

.card {
  display: flex;
  height: 17rem;
  width: 34rem;
  gap: 2rem;
  background-color: #71acf2;
  margin: 0 2rem 2rem 2rem;
  border-radius: 10px;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: transform ease 0.5s;
}

.card:hover {
  transform: translate(0.1rem, -0.1rem);
}

.cardImage {
  width: 12rem;
  height: 100%;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  transition: transform ease 0.5s;
  
}


.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  /* padding: 0 3rem; */
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.cardTextTitre {
  font-weight: bold;
  font-size: 1.3rem;
}

.note {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  border: #002367 solid 0.1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
}

.note p {
  font-size: 1.4rem;
}

.note i {
  padding-top: 0.1rem;
}

/* DETAILS FILM *******************************************/
.textUnderCard {
  padding: 0 2.5rem 2rem 2.5rem;
}

.textUnderCard p {
  text-align: justify;
}

.titreSecondaire {
  margin: 2rem 0 2rem 0;
}

.mediaList {
  display: flex;
  align-self: flex-start;
  gap: 1rem;
  height: 13rem;
  width: fit-content;
  margin: 0 2rem 2rem 2rem;
}

.mediaListImg {
  height: 100%;
  width: 9rem;
}

.mediaListImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.mediaListInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
/* FILM FORM *******************/
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
  margin: auto;
}

form label {
  min-width: 10rem;
}

form input, select {
  width: 100%;
  padding: 0.2rem;
}

.formulaire {
  background-color: #d9d9d9;
  width: 20rem;
  margin: auto;
  padding: 1rem 0; 
}

.entreeGenre input{
  display: inline;
}

/* DETAILS ACTEURS ***************************************/
.personneDetails {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.personneInfo {
  display: flex;
  flex-direction: column;
}

.personnePhoto {
  height: 15rem;
  width: 11rem;
}

.personneDetails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.biographie {
  padding: 2rem;
  text-align: center;
}

.filmographie {
  height: 15rem;
  width: 11rem;
}

.filmographie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* DETAILS REALISATEUR *****************/
.filmographie {
  height: 15rem;
  width: 11rem;
}

.filmographie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


/* DETAILS GENRE ********************************/
.genreDetails {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.genreInfo {
  display: flex;
  flex-direction: column;
}

.genreDetails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.genrePhoto {
  height: 15rem;
  width: 11rem;
}


