@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
  

* {
    color: #002367;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: "Krona One";
}

#wrapper {
    background-color: #ffffff;
    padding: 0 25%;
}


nav {
    display: flex;
    flex-direction: column;
    background-color: #71acf2;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    font-size: 0.8rem;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
}

.nomSite {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.barreRecherche {
    position: relative;
}

#searchBar {
    border: #002367 solid 0.1rem;
    padding: 0.3rem 0 0.3rem 0.5rem;
    width: 20rem;
    border-radius: 10px;
}

#submitBtn {
    position: absolute;
    right: 0.5rem;
    top: 0.45rem;
    border: none;
    background-color: #ffffff;
}

.navBot {
    display: flex;
    gap: 7rem;
    justify-content: center;
}

.bannerTop {
    background-color: #adadad;
    text-align: center;
    padding: 0.2rem 0;
}

.carousselTop {
    display: flex;
    gap: 0.3rem;
    height: 65vh;
    width: 100%;
}

.carousselTop img {
    width: calc(50% - 0.15rem); /* ajuster en déduisant la moitié de l'espace de 'gap' de chaque image */
    height: auto;
    object-fit: cover;
}

.bannerBot {
    text-align: center;
    background-color: #71acf2;
    padding: 0.2rem 0;
    margin: 1rem 0;
}

.carousselBot {
    display: flex;
    gap: 1rem;
    height: 40vh;
}

.carousselBot img {
    flex: 1;
    width: 25%;
    height: auto;
    object-fit: cover;
}

.carousselBot img.centrale {
    flex: 1.5;
    width: 35%;
    height: 20rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #71acf2;
}

.logo {
    display: flex;
    gap: 1rem;
}

.mentions {
    display: flex;
    gap: 1rem;
}